body {
    background-color: #2B3E50;
}

a:hover,
a:visited {
    color: inherit;
}

a.link-small {
    font-size: 12px;
}

.block-full {
    width: 100%;
    background-color: transparent;
}
.block-full .row {
    margin-right: 0;
    margin-left: 0;
}

#first-block img {
    width: calc(100% - 400px);
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}
.title-wrap {
    background-color: rgba(43, 62, 80, 0.8);
    border:2px solid #fbfbfb;
    width: 400px;
    position: absolute;
    right: 50px;
    top: 50px;
}
.title-wrap div {
    padding: 15px;
}
.title-wrap div > * {
    text-align: center;
    color:#fbfbfb;
}
.title-wrap .btn {
    text-align: center;
    color: #fbfbfb !important;
}

.title-wrap h4 {
    line-height: 1.4;
}

.bg-me {
    background: #2B3E50 url(../img/bkg-principal-ajuda.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo-me {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
}
.logo-me img {
    height: 50px;
    width: auto;
}
.bg-green {
    background-color: #61BC47;
}
.bg-yellow {
    background-color: #FCB131;
}
.bg-blue {
    background-color: #00A5E5;
}

#second-block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

#third-block {
    background: #FCB131 url(../../ajuda-assets/img/bg-mapa.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrap-features {
    padding: 40px;
    padding-left: 80px;
    padding-bottom: 0;
    color: #fbfbfb;
}

.wrap-features div.linha {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    padding:10px;
}
.wrap-features div.linha+div.linha {
    margin-left: 150px;
}
.wrap-features div.linha+div.linha+div.linha {
    margin-left: 300px;
}
.wrap-features div.linha+div.linha+div.linha+div.linha {
    margin-left: 450px;
    margin-bottom: 0;
}

.wrap-features div.linha div:nth-child(2) {
    font-size: 16px;
    margin-left: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.wrap-features img{
    width:100px;
    height:auto;
}

.wrap-features div.linha div {
    display: inline-block;
}

#fourth-block img {
    width:100px;
    height: auto;
}

.wrap-instalacao {
    padding: 40px;
    margin-top: 70px;
}
.wrap-instalacao * {
    text-align: center;
    color:#fbfbfb;
}
.wrap-instalacao .btn {
    text-align: center;
    color: #fbfbfb !important;
    margin-top:30px;
}

.wrap-instalacao .list {
    width: 220px;
    min-height: 200px;
    border: 1px solid #fbfbfb;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
}

.wrap-instalacao .list ul {
    margin-top:30px;
    padding-left: 25px;
}
.wrap-instalacao .list ul li{
    text-align: left;
}

#fourth-block .separador {
    border-right:1px solid rgba(251, 251, 251, 0.20);
}

.modal .modal-dialog {
    /*margin-top:184px;*/
    color: #EBEBEB;
}
.modal .modal-content {
    background-color: #4E5D6C;
    color: #EBEBEB;
}
.modal .modal-content .btn,
.modal .modal-content input,
.modal .modal-content label,
.modal .modal-content select,
.modal .modal-content textarea {
    color: #EBEBEB !important;
}
.modal .modal-content select {
    background-color: #4E5D6C;
}
.modal-header {
    padding: 15px !important;
    background-color: #2B3E50;
}
.modal-body,
.modal-footer {
    padding:15px !important;
}

.modal .modal-body .btn-fab {
    position: fixed;
    top: 70px;
    right: 30px;
}


.modal .modal-body::-webkit-scrollbar,
.modal .modal-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.modal .modal-body::-webkit-scrollbar-track,
.modal .modal-body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}

/* Handle */
.modal .modal-body::-webkit-scrollbar-thumb,
.modal .modal-body::-webkit-scrollbar-thumb {
    background: #BCBCBC;
    border-radius: 1px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
.modal .modal-body::-webkit-scrollbar-thumb:window-inactive,
.modal .modal-body::-webkit-scrollbar-thumb:window-inactive {
    background: #eaeaea;
}